{% include 'tv_show/header.html' %}
<img src="{{tv_show_id.image}}" alt="">
<h1>{{tv_show_id.name}}</h1>
<p>{{tv_show_id.description}}</p>
<p>{{tv_show_id.category}}</p>
<p>{{tv_show_id.created_at}}</p>
<ul>
    {% for i in tv_show_id.tvshow_reviews.all %}
    <li>
        <h4>{{i.text}}</h4>
    </li>
    {% endfor %}
</ul>
    <button><a href="/tvshow_list/{{tv_show_id.id}}/update/">Изменить тв шоу</a></button>
    <button><a href="/tvshow_list/{{tv_show_id.id}}/delete/">Удалить тв шоу</a></button>
<hr>
{% include 'tv_show/footer.html' %}